header li:hover {
    background-color: #4ff2f7;

}

h1{
    text-shadow: 2px 2px 5px red;
    color: #000000;
    font-size: 3em ;
    transition: color 1s, background-color 1s,text-shadow 1s;
}
h2{
    font-size: 2.5em ;
    text-shadow: 2px 2px 5px red;
    color: #000000;
    transition: color 1s, background-color 1s,text-shadow 1s;
}
h3{
    text-shadow: 2px 2px 5px red;
    font-size: 1.5em ;
    color: #000000;
    transition: color 1s, background-color 1s,text-shadow 1s;
}
il{
    text-shadow: 2px 2px 5px red;
    color: #000000;
    transition: color 1s, background-color 1s,text-shadow 1s;
}
p{
    text-shadow: 2px 2px 5px red;
    color: #000000;
    transition: color 1s, background-color 1s,text-shadow 1s;
}
h1:hover, h2:hover, h3:hover, il:hover, p:hover {
    color: #429bf5;
    text-shadow: 2px 2px 5px blue;
    transition: background-color 1s;
    transition: color:#429bf5; 1s;
    transition: text-shadow 1s;
}
body {
    margin: 0 ;
    margin-top: 50px ;
    font-family: sans-serif ;

}
 
 header {
    display: flex ;
    position: fixed ;
    top: 0 ;
    left: 0 ;
    right: 0 ;
    height: 50px ;
    line-height: 50px ;
    background-color: #3dadf2 ;
}
 
 header * {
    display: inline ;
    height: 50px ;
}
 
 header , header ul {
    padding: 50 ;
}
 

 header li {
    margin-left: 2px ;
    padding-bottom: 17px ;
    padding-top: 17px ;
    transition: text-shadow 1s,background-color 1s,color 1s;
}
 header il {
    margin-left: 2px ;
    padding-bottom: 30px ;
    padding-top: 30px ;
}

 section {
    height: 100vh ;
    border-bottom: 1px solid black ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    text-align: center ;
    
     background-size: cover ;/* Add this line */
    background-position: center center ;/* Add this line */
    background-repeat: no-repeat ;/* Add this line */
    background-attachment: fixed ;/* Add this line */
}

 
 footer {
    text-align: bottom ;
    padding: 0px ;
}
 
 header a {
    text-decoration: none ;
    
 }
 
 /* Add everything below here */

 #home {
    background-image: url('https://wallpapercave.com/wp/wp2502939.jpg') ;

 }
 
 #options {
    
     background-image: url('https://base.imgix.net/files/base/ebm/industryweek/image/2020/02/3d_printing.5e5587fe1a940.png?auto=format&fit=crop&h=432&w=768') ;
}
 
 #price {
    
     background-image: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_629461782_381529.jpg') ;
} 